@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #faf9f8;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  z-index: 0;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: #282b3e;
  border-bottom: 0.5rem solid #f14546;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  font-size: 100px;
  font-family: 'Bebas Neue', cursive;
  color: #faf9f8;
}

nav a {
  font-size: 20px;
  color: #faf9f8;
}
nav a:hover {
  transition: var(--transition);
  text-decoration: none;
  color: #f14546;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  position: relative;
  z-index: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: auto;
  margin: auto;
}

.hero-img {
  width: 27.5rem;
}

@keyframes bubbles {
  0% {
    transform: translate(-80%, 250%);
  }
  100% {
    transform: translate(900%, 100%);
  }
}

#Bubbles {
  height: 10rem;
  animation-name: bubbles;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
}

.bio {
  font-family: 'Bebas Neue', cursive;
  text-align: right;
  height: 10rem;
  width: auto;
  padding: 2rem;
  border-radius: 6px;
  border: 1px solid #282B3E;
}

.bio h2 {
  padding: 0.2rem;
  margin-bottom: var(--bottom-margin);
}

.bio p {
  font-family: 'Old Standard TT', serif;
  line-height: var(--line-height);
  padding: 0.2rem;
}
/* Hero section ends */

/* More about */
.more-about {
  font-family: 'Old Standard TT', serif;
  position: relative;
  z-index: 1;
  background-color: #ededed;
  padding: 2.5rem;
}

.more-about h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  margin-top: .3rem;
  text-align: left;
}

.more-about p {
  text-align: left;
  line-height: var(--line-height);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* More about ends */

/* Skills section */
.skills {
  transform: skewY(-2deg);
  font-family: 'Bebas Neue', cursive;
  font-size: 1.35rem;
  color: #FAF9F8;
  position: relative;
  z-index: 2;
  background-color: #282B3E;
  max-width: auto;
  padding: 3rem;
  margin-top: -2rem;
}

.skill-header {
  transform: skewY(2deg);
  margin-bottom: 1rem;
}

.skills-wrapper{
  transform: skewY(2deg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills-wrapper img {
  padding: 1rem;
  margin: 1rem;
}

.icon {
  width: 7.875rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  padding: 3rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.35rem;
  position: relative;
  z-index: 1;
  background-color: white;
  margin-top: -2rem;
  padding-top: 4rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: left;
  padding-top: 2rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
.contact {
  position: relative;
  z-index: 5;
  padding: 2rem;
  background-color: #ededed;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  position: relative;
  z-index: 5;
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
}

.contact-form-container textarea {
  z-index: 5;
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  background-color: #faf9f800;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.airplane {
  z-index: 1;
  height: 10rem;
  margin-top: -25rem;
  animation-name: message_lr;
  animation-iteration-count: 3;
  animation-duration: 2s, 2s;
  animation-fill-mode: forwards;
}

@keyframes message_lr {
  0% {
    transform: translate(-50%, 250%);
  }
  100% {
    transform: translate(900%, 100%);
  }
}

@keyframes wobble {
  0% {
    transform:rotateZ(0);
  }
  100% {
    transform:rotateZ(100);
  }
}

/* Contacts section ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 5px;
  border: #fff 1px solid;
  padding: 20px;
  margin: 20px;
}

.icon-card:hover {
  transform: rotateY(-1deg);
  transition-duration: 1s;
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0) 1px solid;
  cursor:default;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: 4rem;
    flex-direction: row;
  }

  .hero-img {
    gap: 0;
    height: 20.5rem;
    width: 20.5rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
    border-bottom: #4756df 1px solid;
  }

  .more-about {
    border-top: rgb(0, 0, 0) 1px solid;
    padding-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 6.25rem;
    height: 6.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
    background-color: white;
  }
}

@media screen and (max-width: 420px) {

  .hero {
    margin-top: 40rem;
    flex-direction: column;
  }

  .hero-img {
    width: 1rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
    background-color: white;
  }
}

/* Footer section */
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  height: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 6.5rem 0.5rem 6.5rem;
  background-color: #282b3e;
  border-top: 10px solid #f14546;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.footer-img {
  max-height: 15rem;
  max-width: 15rem;
}
/* Footer section ends */
